absl-py==1.4.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==22.2.0
bleach==6.0.0
brewer2mpl==1.4.1
brotlipy==0.7.0
cachetools==5.3.0
conda==4.13.0
conda-build==3.21.9
cycler==0.11.0
Cython==0.29.34
debugpy==1.6.6
defusedxml==0.7.1
distro==1.8.0
entrypoints==0.4
fastjsonschema==2.16.3
flow-vis==0.1
fonttools==4.38.0
future==0.18.3
glog==0.3.1
google-auth==2.17.1
google-auth-oauthlib==0.4.6
grpcio==1.53.0
h5py==3.8.0
imageio==2.27.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
Jinja2==3.1.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.23.6
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
kornia==0.6.11
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.5.3
mistune==2.0.5
mkl-fft==1.3.1
mkl-service==2.4.0
nbclassic==0.5.4
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==2.6.3
notebook==6.5.3
notebook_shim==0.2.2
oauthlib==3.2.2
omegaconf==2.3.0
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
packaging==23.0
pandas==1.3.5
pandocfilters==1.5.0
Pillow==9.0.1
pkgutil_resolve_name==1.3.10
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-gflags==3.1.2
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.4.2
QtPy==2.3.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-build==0.16.7
scikit-image==0.19.3
scipy==1.7.3
seaborn==0.12.2
Send2Trash==1.8.0
shapely==2.0.1
sniffio==1.3.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.17.1
tifffile==2021.11.2
tinycss2==1.2.1
torch==1.12.1
torchtext==0.13.1
torchvision==0.13.1
tornado==6.2
traitlets==5.9.0
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.7
zipp==3.15.0

./third_party/pytlsd
