absl-py==0.12.0
asn1crypto==0.24.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
cryptography==2.1.4
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
flatbuffers==1.12
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.6
imageio==2.15.0
importlib-metadata==4.0.1
importlib-resources==5.4.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.1.1
msgpack==1.0.4
msgpack-numpy==0.4.8
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
opencv-contrib-python==4.0.1.24
opt-einsum==3.3.0
pandas==1.0.5
Pillow==8.4.0
protobuf==3.17.0
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==3.0.9
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==6.0
pyzmq==25.0.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.15.0
tabulate==0.8.10
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-addons==0.8.3
tensorflow-estimator==2.5.0rc0
tensorpack==0.11
termcolor==1.1.0
tifffile==2020.9.3
tqdm==4.64.1
typeguard==2.13.3
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==2.0.0
wrapt==1.12.1
zipp==3.4.1